$text-color-base: white;
$body-color-base: $gray-darker;

$header-color-bg: $gray-darkest;

$navbar-btn-color: $gray-light;
$navbar-btn-color-hover: $gray-lighter;
// $navbar-btn-bg: transparent;
$navbar-btn-bg-hover: rgba(255,255,255,0.125);

// Needed to re-compute input color vars

$input-bg: $body-color-base;
$input-color: $text-color-base;
$input-border-color: $gray;
$input-color-placeholder: $gray;