{% extends "base.twig" %}

{% block content %}

  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

    {% if CONFIG.hero and post.get_thumbnail %}
      {% include "hero.twig" %}
    {% endif %}

    <section class="wrapper wrapper--article-content">
      <div class="article-content">

        {% include "article-content-header.twig" %}

        <div class="article-content-body">
          <div class="container">
            <p class="lead">La page demandée n'existe pas, ou a été supprimée.</p>
            <p>
              <a href="/" class="btn btn-primary">Retourner à l'accueil</a>
            </p>
          </div>
        </div>

      </div>
    </section>

  </article>

{% endblock %}