{% extends "base.twig" %}

{% block content %}

  <article class="index">

    <section class="wrapper wrapper--article-content">
      <div class="article-content">

        {% include "article-content-header.twig" %}

        <div class="article-content-body wrapper--posts">
          <div class="container">

            <section class="posts row">

              {% for post in posts %}
                {% include "tile-post.twig" %}
              {% endfor %}

            </section>
          
          </div>
        </div>

      </div>
    </section>

  </article>

{% endblock %}
