{% extends "base.twig" %}

{% block content %}

  <div class="container">
    <h1 class="h1 main-title">{{ title }}</h1>

    <section class="posts row">

      {% for post in posts %}
        {% include "tile-post.twig" %}
      {% endfor %}

    </section>
  </div>

{% endblock %}
