{% extends "base.twig" %}

{% block content %}

  <article class="archive">

    <section class="wrapper wrapper--article-content">
      <div class="article-content">

        {% include "article-content-header.twig" %}

        <div class="article-content-body">

          {% for post_type in post_types %}
            {% if _context["post_type_#{post_type}"] is defined %}
              <section class="wrapper wrapper--padding {{ (post_type == 'post') ? 'wrapper--posts' : 'wrapper--products' }}">
                <div class="container">

                  {% set post_type_labels = function ('get_post_type_object', post_type).labels %}
                  {% set posts = _context["post_type_#{post_type}"] %}
                  {% set posts_length = posts | length %}

                  <h2>
                    <strong>{{ posts_length }}</strong>
                    {{ (posts_length > 1) ? post_type_labels.name : post_type_labels.singular_name }}
                  </h2>

                  <section class="teasers {{ (post_type == 'post') ? 'teasers--posts' : 'teasers--woo' }}">

                    {% for post in posts %}

                      {# If the post type is a product, the teaser template is in the woocommerce folder #}
                      {% if "wp-content/themes/lightwords/templates/partials/teaser-#{post_type}.twig" is ondisk 
                          or "wp-content/themes/lightwords/templates/partials/woocommerce/teaser-#{post_type}.twig" is ondisk %}

                        {% include "teaser-#{post_type}.twig" %}

                      {% else %}

                        {% include 'teaser-post.twig' %}

                      {% endif %}

                    {% endfor %}

                  </section>

                </div>
              </section>
            {% endif %}
          {% endfor %}

        </div>

      </div>
    </section>

  </article>

{% endblock %}