{# The mobile menu AND the primary desktop menu #}

{# Primary menu, always visible #}

{% for item in menu %}
  <li class="{{item.classes | join(' ')}} {{ (item.has_child_class) ? 'menu-item--dropdown' : null }}">
    {% include 'header/menu-item.twig' %}
  </li>
{% endfor %}

{# WooCommerce "My account" menu item #}

{% if is_woocommerce_active == true %}
  {% include './woocommerce/menu-item-my-account.twig' %}
{% endif %}

{# Secondary menu for mobile only #}

<li class="divider hidden-expanded"></li>

{% for item in menu_top %}
  <li class="{{item.classes | join(' ')}} {{ (item.has_child_class) ? 'menu-item--dropdown' : null }} hidden-expanded">
    {% include 'header/menu-item.twig' %}
  </li>
{% endfor %}
