<div class="topbar" id="topbar">
  <div class="bar-wrapper container">

    {# TOPBAR SECONDARY MENU #}
    {# Only visible on desktop #}

    <div class="topbar-menu">
      <nav class="menu-secondary hidden-collapsed" role="navigation">
        <ul class="nav">

          {% include 'header/menu-loop.twig' with {
            'items': menu_top.get_items
          } %}
        
        </ul>
      </nav>
    </div>

    {# SEARCH #}

    {% if CONFIG.search %}
      <div class="topbar-search">
        
        {% include 'header/search-form.twig' %}

      </div>
    {% endif %}

  </div><!-- /.container -->
</div>
