<section class="wrapper wrapper--comments">
  <div class="container">
    <div class="respond">
      <div class="h2"> {{ post.get_comment_count() }} Comments </div>
      {{ post.comment_form() }}
    </div>
    {% if post.get_comment_count() %}
      <div class="responses">
        {% for cmt in post.comments %}
          {% include "comment.twig" with { comment:cmt } %}
        {% endfor %}
      </div>
    {% endif %}   
  </div>
</section>
