{% if latest_posts %}
<section class="wrapper wrapper--posts">
  <div class="container container--fluid">

    <h2>Derniers articles</h2>

    <section class="posts posts--latest flexrow flexrow--gutter">
      {% for post in latest_posts %}

      {% include 'tile-post.twig' %}

      {% endfor %}

      <div class="flex-full text-center">
        <a href="#" class="btn btn-primary">Voir tous les articles</a>
      </div>
    </section>

  </div>
</section>
{% endif %}
