{% if latest_posts %}
  <section class="wrapper wrapper--posts">
    <div class="container">

      <h2>Derniers articles</h2>

      <section class="posts posts--latest row">
        {% for post in latest_posts %}

        {% include 'tile-post.twig' %}

        {% endfor %}
      </section>

      <div class="text-center">
        <a href="/blog/" class="btn btn-primary">Voir tous les articles</a>
      </div>

    </div>
  </section>
{% endif %}
