<nav class="topbar" id="topbar">
  <div class="bar-wrapper container container--fluid">

    <div class="topbar-menu">
      <nav class="menu-secondary hidden-collapsed" role="navigation">
        <ul class="nav">
          {% include 'menu.twig' %}
        </ul>
      </nav>
    </div>

    <div class="topbar-search">
      {% include 'search-form.twig' %}
    </div>

  </div><!-- /.container -->
</nav>
