<div class="searchbar-collapse collapse" id="searchbar-collapse-1">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
			</div>

			{{ searchform }}

			<ul class="nav navbar-nav navbar-right hidden-collapsed">
				{% include 'menu.twig' %}
			</ul>

		</div><!-- /.container -->
	</nav>
</div>
