<nav class="topbar" id="topbar">
	<div class="bar-wrapper container">

		<div class="bar-filler"></div>

		<div class="topbar-menu">
			<nav class="menu-secondary hidden-collapsed" role="navigation">
				<ul class="nav">

					{% include 'menu.twig' %}

				</ul>
			</nav>
		</div>

		<div class="topbar-search">
			{{ searchform }}
		</div>

	</div><!-- /.container -->
</nav>
