<nav class="navbar" role="navigation">
	<div class="bar-wrapper container">

		<div class="navbar-header">
			<a class="navbar-brand" href="{{site.url}}" rel="home">
				<svg class="logo" viewBox="0 0 100 100" width="24" height="24">
					<use xlink:href="#computing88"></use>
				</svg>
				<span class="site-name">{{site.name}}</span>
			</a>
		</div>

		<div class="bar-filler"></div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navbar-menu" id="navbar-menu">
			<ul class="menu-primary nav">

				{% include 'menu.twig' %}

			</ul>
		</div><!-- /.navbar-collapse -->

		<div class="navbar-footer">
			<button type="button" class="btn-toggle topbar-toggle hidden-expanded" data-toggle="#topbar, body" data-toggle-classname="topbar-expanded" aria-expanded="false">
				<span class="sr-only">Toggle search</span>
				<i class="fa fa-lg fa-search"></i>
			</button>

			<button type="button" class="btn-toggle navbar-toggle hidden-expanded" data-toggle="#navbar-menu, #overlay-navbar, body" data-toggle-classname="navbar-expanded" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-lg fa-bars"></i>
			</button>
		</div>

	</div><!-- /.container -->
</nav>
