<div class="widget widget--newsletter">

  <h3 class="widget-title">Notre newsletter</h3>


  <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_1">
    <form method="post" enctype="multipart/form-data" id="gform_1" action="/contact/">

      <div class="gform_heading">
        <span class="gform_description">Chaque vendredi. Pas de blabla, que du contenu. Voir <a href="">un exemple</a>.</span>
      </div>

      <div class="gform_body">
        <ul id="gform_fields_1" class="gform_fields top_label form_sublabel_below description_below">

          <li id="field_1_3" class="gfield ggf_left_half gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
            {# <label class="gfield_label" for="input_1_3">Adresse email
              <span class="gfield_required">*</span>
            </label> #}
            <div class="ginput_container ginput_container_text">
              <input name="input_3" id="input_1_3" type="email" value="" class="medium" tabindex="3" aria-required="true"
                aria-invalid="false" placeholder="Votre email">
            </div>
          </li>

          <li>
            <input type="checkbox" id="check_infos">
            <label for="check_infos" class="text-small">J'accepte l'utilisation de mes données personnelles.</label>
            <p class="text-small"><em>Votre adresse email ne sera utilisée qu'à des fins de traitement par nos soins (voir notre <a href="">Politique de confidentialité</a>).</em></p>
          </li>

        </ul>
      </div>

      <div class="gform_footer top_label">
        <input type="submit" id="gform_submit_button_1" class="gform_button button" value="Je m'abonne" tabindex="7" onclick="if(window[&quot;gf_submitting_1&quot;]){return false;}  window[&quot;gf_submitting_1&quot;]=true;  "
          onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_1&quot;]){return false;} window[&quot;gf_submitting_1&quot;]=true;  jQuery(&quot;#gform_1&quot;).trigger(&quot;submit&quot;,[true]); }">
      </div>

    </form>
  </div>

</div>