<form role="search" method="get" id="searchform" class="searchform" action="{{ site.url }}">
    <div>
        <label class="screen-reader-text" for="s">Rechercher&nbsp;:</label>
        <input type="text" value="" name="s" id="s">
        <input type="submit" id="searchsubmit" value="Rechercher" disabled="disabled">
    </div>
</form>