/* SKIN - LIGHT - FOOTER */

// Nav widget

.widget_nav_menu ul {
  > li {
    > a {
      position: relative;
      &:after {
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: currentColor;
        transform: scale3d(0, 1, 1);
        transition: all 0.25s $ease-bump;
      }

      &:hover,
      &:focus,
      &:active {
        color: currentColor;
        text-decoration: none;
        &:after {
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }
}
