///////////////////////////////////////////////////////////////////////////////
// METAS

.terms {
  line-height: 2;
  padding-bottom: $gutter-quarter;
  border-bottom: 1px dotted;
}

.publish {
  font-style: italic;
  color: $gray-light;
  margin-top: $gutter-quarter;
  padding-top: $gutter-eighth;
}

.tag-link {
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
  color: $brand-secondary;

  &:hover {
    background-color: transparent;
    border-color: transparent;
    color: lighten($brand-secondary, 20%);
  }
}

///////////////////////////////////////////////////////////////////////////////
// POST(S)

// SINGLE

.article-content {
  position: relative;
  padding-top: $gutter-double;
  padding-bottom: $gutter-double;

  .metas {
    margin-bottom: $gutter;
  }
}

.article-content-body {
  // TODO : didn't find how to make a real excerpt in WP
  // the <!-- more --> thing changes nothing in markup
  // So we made the very first paragraph of content highlighted!
  > p:first-child {
    @extend .lead;
  }
}

@include bp(sm) {
  .hero-title {
    $parallax-security-size: $gutter;
    position: absolute;
    top: $parallax-security-size; //hack
    left: 0;
    transform: translate3d(0, -100%, 0);
    margin: 0;
    padding: $gutter-quarter $gutter-half;
    padding-bottom: $gutter-quarter + $parallax-security-size;
    background-color: white;
  }
}

///////////////////////////////////////////////////////////////////////////////
// TILES

.tile {
  display: flex;
  flex-direction: column;
  padding: $gutter-half;
  // margin-bottom: $gutter;
  @include shadow(1);
  transition: box-shadow 0.125s;
  cursor: pointer;

  &:hover {
    @include shadow(2);
  }

  > * {
    flex: 0 0 auto;

    &.tile__body {
      flex-grow: 1;
    }
  }

  &:nth-child(4) {
    @include bp('md') {
      display: none;
    }
    @include bp('lg') {
      display: flex;
    }
  }
}

.tile__hero {
  position: relative;
  margin: -$gutter-half;
  margin-bottom: $gutter-half;
  padding-bottom: 56.25%;
  overflow: hidden;

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1);
    transition: transform 0.5s $ease-bump;

    .tile:hover & {
      transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    }
  }
}

.tile__title {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: $gutter-quarter $gutter-half;
  background-color: rgba(0, 0, 0, 0.5);

  a {
    color: white;
    font-weight: 300;
  }
}

.tile__body {
  margin-top: $gutter-half;
  color: white;

  .read-more {
    display: block;
    text-align: right;
  }
}

.tile__foot {
  text-align: right;

  .read-more {
    font-weight: 900;
    text-transform: uppercase;
  }
}

// Posts tiles are dark
.tile-post {
  background-color: $gray-darkest;
}
