/* SKIN - LIGHT - WRAPPERS */

// Macro-wrappers

.site-wrapper {}

.site-header {}
.site-content {}
.site-footer { background-color: $gray-lightest; }

// Micro-wrappers

.wrapper--pre-header {}
.wrapper--header {}
.wrapper--post-header {}

.wrapper--pre-footer {}
.wrapper--footer { @include v-padding($gutter-double); }
.wrapper--post-footer { @include v-padding($gutter-double); }

.wrapper--content {}

// Nano-wrappers

.wrapper--hero {}
.wrapper--article-content {}

.wrapper--posts {
  background-color: $gray-darker;
  color: $gray-light;
}

.wrapper--breadcrumb {
  background-color: $gray-lightest;
}

.wrapper--comments { @include v-padding($gutter-double);

  background-color: $gray-dark;
  color: $gray-lighter;
}

