/* SKIN - LIGHT - WRAPPERS */

// Macro-wrappers

.site-wrapper {}

.site-header {}
.site-content {}
.site-footer {
  background-color: $gray-lightest;
  @include shadow(2);
}

// Micro-wrappers

.wrapper--pre-header {}
.wrapper--header {}
.wrapper--post-header {}

.wrapper--pre-footer {}
.wrapper--footer {
  padding-top: $gutter-double;
  padding-bottom: $gutter-double;
}
.wrapper--post-footer {}

.wrapper--content {}

// Nano-wrappers

.wrapper--hero {}

.wrapper--article-content {}

.wrapper--posts {
  padding-top: $gutter-double;
  padding-bottom: $gutter-double;
  background-color: $gray-darker;
  color: $gray-light;
}

.wrapper--breadcrumb {
  padding-top: $gutter-quarter;
  padding-bottom: $gutter-quarter;
  background-color: $gray-lightest;
}

.wrapper--comments {
  padding-top: $gutter-double;
  padding-bottom: $gutter-double;
  background-color: $gray-dark;
  color: $gray-lighter;
}

