<div class="price-product">

  {% if post.product.get_sale_price() %}
    {# On sale product #}
    <ins>{{ post.product.get_sale_price()|formatPrice }}</ins>
    <del>{{ post.product.get_regular_price()|formatPrice }}</del>
  
  {% elseif post.product.get_regular_price() %}
    {# Simple product #}
    <ins>{{ post.product.get_regular_price()|formatPrice }}</ins>

  {% elseif post.product.get_price() %}
    {# Variable product #}
    <ins>{{ post.product|formatVariableProductPrice }}</ins>

  {% endif %}

</div>

