<div class="price-product">

  {% if post.product.sale_price %}
    {# On sale product #}
    <ins>{{ post.product.sale_price|formatPrice }}</ins>
    <del>{{ post.product.regular_price|formatPrice }}</del>
  
  {% elseif post.product.regular_price %}
    {# Simple product #}
    <ins>{{ post.product.regular_price|formatPrice }}</ins>

  {% elseif post.product.price %}
    {# Variable product #}
    <ins>{{ post.product|formatVariableProductPrice }}</ins>

  {% endif %}

</div>

