.hero {
  // Full height hero
  /*body*/
  .home & {
    // min-height: calc(100vh - $navbar-height-mobile);
    min-height: calc(100vh - 6rem);

    @include bp($expanded) {
      // min-height: calc(100vh - $navbar-height-desktop);
      min-height: calc(100vh - 15rem);
    }
  }

  // WordPress admin bar
  .home.admin-bar & {

    // min-height: calc(100vh - $navbar-height-mobile - $wp-adminbar-height-mobile); 4.6
    min-height: calc(100vh - 6rem - 46px);

    @include bp($expanded) {
      // min-height: calc(100vh - $navbar-height-desktop - $wp-adminbar-height-desktop); 3.2
      min-height: calc(100vh - 15rem - 32px);
    }
  }
}
