/* SCROLL BUTTONS */

.scroll-btn {
  display: block;

  width: $scroll-btn-size;
  height: $scroll-btn-size;
  border-radius: 50%;
  cursor: pointer;
  @include shadow(1);
  transition: all 0.5s $ease-bump;

  @include hocus() {
    @include shadow(2);
  }

  // SCROLL DOWN

  &.scroll-btn-down {
    transform: translate3d(-50%, 0, 0) scale3d(1, 1, 1);
    opacity: 1;

    @include hocus() {
      transform: translate3d(-50%, 0, 0) scale3d(1.25, 1.25, 1);
    }
    
    /*body*/.has-scroll-top-active & {
      // Hide the button when enough scrolled down
      transform: translate3d(-50%, -100vh, 0);
      opacity: 0;
    }
  }  

  // SCROLL UP (TO TOP)

  &.scroll-btn-up {
    position: fixed;
    left: 50%;
    bottom: $gutter;
    transform: translate3d(-50%, 200%, 0) scale3d(1, 1, 1) rotateZ(0.5turn);

    /*body*/.has-scroll-top-active & {
      transform: translate3d(-50%, 0, 0) scale3d(1, 1, 1) rotateZ(0.5turn);
  
      &:hover,
      &:focus {
        transform: translate3d(-50%, 0, 0) scale3d(1.25, 1.25, 1) rotateZ(0.5turn);
      }
    }
  }
}

