<!doctype html>

<!-- HEAD -->
{% block head %}
  {% include 'head.twig' %}
{% endblock %}

<!-- BODY -->
<body class="{{body_class}}" data-template="base.twig">

  <!-- SITE-WRAPPER -->
  <div class="site-wrapper">

    <!-- HEADER -->
    <header class="site-header">
      {% block header %}
        {% include 'header.twig' %}
      {% endblock %}
    </header>

    <!-- SITE-CONTENT -->
    <section class="site-content">

      <!-- MAIN -->
      <main class="site-main-content wrapper wrapper--content" role="main">

        <!-- BREADCRUMB -->
        {% if not fn('is_front_page') %}
          <section class="wrapper wrapper--breadcrumb">
            <div class="container">
              {# native walker: % include "breadcrumb.twig" %#}
              {{ breadcrumb }}
            </div>
          </section>
        {% endif %}

        <!-- ARTICLE CONTENT -->
        {% block content %}
          <div class="container">
            Sorry, no content!
          </div>
        {% endblock %}

      </main>

    </section><!-- end .site-content -->

    <!-- FOOTER -->
    <footer class="site-footer">
      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}
    </footer>

  </div><!-- end .site-wrapper -->

  <!-- OVERLAY -->
  <div class="overlay" data-toggle="#navbar-menu, #overlay-navbar, body" data-toggle-classname="navbar-expanded" id="overlay-navbar"></div>

  {% if do_inlinesvg %}
    <!-- INLINE SVG -->
    <div class="inline-svg">
      {% include 'sprite.symbol.svg.twig' %}
    </div>
  {% endif %}

  {% if do_debug_zone %}
    <!-- DEBUG ZONE -->
    <div class="debug-zone">
      <div class="debug-zone__item debug-zone__item--bp"></div>
    </div>
  {% endif %}

  <!-- WP_FOOTER -->
  {{ function('wp_footer') }}

</body>
</html>
