/*
@styleguide

# App

*/



// TOOLS

@mixin bp($point) {
  @if $point == 'sm' {
    @media (min-width: $screen-sm-min) { @content; }
  }
  @else if $point == 'md' {
    @media (min-width: $screen-md-min) { @content; }
  }
  @else if $point == 'lg' {
    @media (min-width: $screen-lg-min)  { @content; }
  }
  @else if $point == 'expanded' {
    @media (min-width: $grid-float-breakpoint)  { @content; }
  }
}


.hidden-expanded {
  @include bp(expanded) {
    display: none !important;
  }
}

.hidden-collapsed {
  display: none;
  @include bp(expanded) {
    display: block !important;
  }
}

.searchbar-collapse {
  @include bp(expanded) {
    display: block !important;
  }
}

// Sticky footer

html,
body {
  min-height: 100vh;
}

.inline-svg {
  svg {
    // Needed to avoid 150px height default behaviour
    display: none;
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex-grow: 1;
}


// WORDPRESS + BOOTSTRAP

.current-menu-item {
  @extend .active;
}

.navbar-brand {

}

// TODO: HACKY, tpl needed
.searchform {
  @extend .navbar-form;
  @extend .navbar-right;

  > div {
    position: relative;
    @extend .form-group;

    input[type="text"] {
      @extend .form-control;
      padding-right: 12rem;
    }

    input[type="submit"] {
      @extend .btn;
      @extend .btn-default;
      position: absolute;
      top: 1px;
      right: 1px;
      border: 0;
      color: $gray-light;
      font-weight: normal;
      text-transform: uppercase;
    }
  }
}

.screen-reader-text {
  @extend .sr-only;
}



// DEMO

.wrapper--header,
.wrapper--pre-header {
  background-color: $gray-lighter;
}

.wrapper--footer,
.wrapper--post-footer,
.wrapper--pre-footer {
  background-color: $gray-lighter;
}

.site-name {
  font-weight: 900;
  color: $brand-primary;
}

.logo {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: text-bottom;
  fill: $brand-primary;
}

.footer-copyright {
  padding: 1.5rem 0;
  text-align: center;
  font-weight: 500;
  color: $gray;
}

blockquote {
  font-style: italic;
  color: $gray;
  border-color: $brand-primary;
}

.widget ul {
  list-style-type: none;
  padding-left: 0;
}
