////////////////////////////////////////////////////////////////////////////////
// VARIABLES

// GUTTER

$gutter: 3rem !default;

// BREAKPOINTS

// List of breakpoint names and sizes

// Common screen sizes, in em unit (1em = 16px, browser default font-size)
// 'xxs':   20em,    //  320 px
// 'xs':    30em,    //  480 px
// 's':     40em,    //  640 px
// 'sm':    48em,    //  768 px
// 'md':    60em,    //  960 px
// 'ml':    64em,    // 1024 px
// 'lg':    75em,    // 1200 px
// 'xl':    90em,    // 1440 px
// 'xxl':   100em,   // 1600 px
// 'xxxl':  120em    // 1920 px

$breakpoints: (
  'xs': 30em,
  'sm': 48em,
  'md': 60em,
  'lg': 75em,
  'xl': 100em
) !default;

// The breakpoint at which starts the desktop layout
$expanded: 'md' !default;

// COLORS

$color-primary: #428bca !default;
$color-secondary: #f80 !default;
$color-ternary: #80f !default;

$color-variation-ratio-base: 10% !default;
$color-variation-ratio-more: 20% !default;
$color-variation-ratio-most: 30% !default;

// Computed colors
@import 'lib/colors';

$color-error: red !default;
$color-warning: orange !default;
$color-info: blue !default;
$color-success: green !default;

// Site wide

$text-color-base: $gray-darker !default;
$body-color-base: white !default;

$link-color: $color-secondary !default;
$link-color-active: $color-secondary-darker !default;

// NAVBAR CONFIGURATION

$header-color-bg: white !default;

$navbar-menu-mobile-width: 18em !default;

// Navbar height
$navbar-height-mobile: 6rem !default;
$navbar-height-desktop: $navbar-height-mobile !default;
// Topbar height
$topbar-height-mobile: 6rem !default;
$topbar-height-desktop: $topbar-height-mobile !default;

// Navbar buttons
$navbar-btn-size: 4.4rem !default;
$navbar-btn-padding: 1rem !default;
$navbar-btn-color: $gray !default;
$navbar-btn-color-hover: $gray-darker !default;
$navbar-btn-bg: transparent !default;
$navbar-btn-bg-hover: rgba(0,0,0,0.0625) !default;

// WordPress admin bar
$wp-adminbar-height-mobile: 4.6rem !default;
$wp-adminbar-height-desktop: 3.2rem !default;
$wp-adminbar-bp: 782px;

// Logo
$navbar-logo-height: $navbar-btn-size !default;
$navbar-logo-height-desktop: $navbar-btn-size * 2 !default;

// TYPOGRAPHY

$font-family-sans-serif: 'Work Sans', 'Helvetica Neue', Helvetica, Arial,
  sans-serif !default;
$font-family-serif: 'Lora', Georgia, 'Times New Roman', Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1.6rem !default;
$line-height-base: 1.5 !default;
$line-height-small: 1.25 !default;
$line-height-smaller: 1.125 !default;

$font-size-bigger: (floor($font-size-base * 1.5 * 10) / 10) !default;
$font-size-big: (floor($font-size-base * 1.25 * 10) / 10) !default;
$font-size-small: (floor($font-size-base * 0.9 * 10) / 10) !default;
$font-size-smaller: (floor($font-size-base * 0.75 * 10) / 10) !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-semibold: 500 !default;

// Headings

$font-size-h1: (floor($font-size-base * 2.6 * 10) / 10) !default;
$font-size-h2: (floor($font-size-base * 2.15 * 10) / 10) !default;
$font-size-h3: (floor($font-size-base * 1.7 * 10) / 10) !default;
$font-size-h4: (floor($font-size-base * 1.25 * 10) / 10) !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: (floor($font-size-base * 0.9 * 10) / 10) !default;

$font-weight-h1: $font-weight-bold !default;
$font-weight-h2: $font-weight-normal !default;
$font-weight-h3: $font-weight-semibold !default;
$font-weight-h4: $font-weight-normal !default;
$font-weight-h5: $font-weight-bold !default;
$font-weight-h6: $font-weight-normal !default;

$font-family-h1: $font-family-serif !default;
$font-family-h2: $font-family-serif !default;
$font-family-h3: $font-family-sans-serif !default;
$font-family-h4: $font-family-sans-serif !default;
$font-family-h5: $font-family-sans-serif !default;
$font-family-h6: $font-family-sans-serif !default;

// Border radiuses

$border-radius-base: 0 !default;
$border-radius-large: 1.4142 * $border-radius-base !default;
$border-radius-small: 2 * $border-radius-base !default;

// Buttons

$btn-font-weight: 700 !default;
$btn-text-transform: uppercase !default;

// FORMS

$input-bg: $body-color-base !default;
$input-color: $text-color-base !default;
$input-border-color: $gray !default;
$input-color-placeholder: $gray !default;

$size-checkradio: $font-size-base * 1.5 !default;
