////////////////////////////////////////////////////////////////////////////////
// VARIABLES

////////////////////////////////////////////////////////////////////////////////
// LAYOUT

// Gutter
$gutter: 3rem !default;

// Breakpoints

// List of breakpoint names and sizes

// Common screen sizes, in em unit (1em = 16px, browser default font-size)
// 'xxs':   20em,    //  320 px
// 'xs':    30em,    //  480 px
// 's':     40em,    //  640 px
// 'sm':    48em,    //  768 px
// 'md':    60em,    //  960 px
// 'ml':    64em,    // 1024 px
// 'lg':    75em,    // 1200 px
// 'xl':    90em,    // 1440 px
// 'xxl':   100em,   // 1600 px
// 'xxxl':  120em    // 1920 px

$breakpoints: (
  'xxs': 20em,
  'xs': 30em,
  'sm': 48em,
  'md': 60em,
  'lg': 75em,
  'xl': 100em
) !default;

// The breakpoint at which starts the desktop layout
$expanded: 'md' !default;

////////////////////////////////////////////////////////////////////////////////
// COLORS

// Base palette
$color-primary: #e25d5d !default;
$color-secondary: #428bca !default;
$color-ternary: #80f !default;

// Shading factors
$color-variation-ratio-base: 10% !default;
$color-variation-ratio-more: 20% !default;
$color-variation-ratio-most: 30% !default;

// Computed colors
// Also computes gray scale
@import 'lib/base/colors';

// "Universal" colors
$color-error: red !default;
$color-warning: orange !default;
$color-info: blue !default;
$color-success: green !default;

// Body
$text-color-base: $gray-darker !default;
$body-color-base: white !default;

// Links
$link-color: $color-secondary !default;
$link-color-active: $color-secondary-darker !default;

////////////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY

// Font family
$font-family-sans-serif: 'Rubik', 'Helvetica Neue', Helvetica, Arial,
  sans-serif !default;
$font-family-serif: 'Lora', Georgia, 'Times New Roman', Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;

$font-family-base: $font-family-sans-serif !default;

// Font size
$font-size-base: 1.6rem !default;

$font-size-biggest: (floor($font-size-base * 2 * 10) / 10) !default;
$font-size-bigger: (floor($font-size-base * 1.5 * 10) / 10) !default;
$font-size-big: (floor($font-size-base * 1.25 * 10) / 10) !default;
$font-size-small: (floor($font-size-base * 0.9 * 10) / 10) !default;
$font-size-smaller: (floor($font-size-base * 0.75 * 10) / 10) !default;

// Pixel per rem per breakpoints
// Aka "global zoom"
$breakpoints-pixels-per-rem: (
  'xxs': 10,
  'xs': 10,
  'sm': 10,
  'md': 10,
  'lg': 10,
  'xl': 11
) !default;

// Line height
$line-height-base: 1.5 !default;
$line-height-small: 1.25 !default;
$line-height-smaller: 1.125 !default;
$line-height-smallest: 1 !default;

// Font weight
$font-weight-light: 300 !default;
$font-weight-normal: normal !default; // 500
$font-weight-semibold: 500 !default;
$font-weight-bold: 700 !default;

// Headings
$font-size-h1: (floor($font-size-base * 2.0 * 10) / 10) !default;
$font-size-h2: (floor($font-size-base * 1.6 * 10) / 10) !default;
$font-size-h3: (floor($font-size-base * 1.5 * 10) / 10) !default;
$font-size-h4: (floor($font-size-base * 1.25 * 10) / 10) !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: (floor($font-size-base * 0.9 * 10) / 10) !default;

$font-weight-h1: $font-weight-semibold !default;
$font-weight-h2: $font-weight-light !default;
$font-weight-h3: $font-weight-semibold !default;
$font-weight-h4: $font-weight-normal !default;
$font-weight-h5: $font-weight-bold !default;
$font-weight-h6: $font-weight-normal !default;

$font-family-h1: $font-family-sans-serif !default;
$font-family-h2: $font-family-sans-serif !default;
$font-family-h3: $font-family-sans-serif !default;
$font-family-h4: $font-family-sans-serif !default;
$font-family-h5: $font-family-sans-serif !default;
$font-family-h6: $font-family-sans-serif !default;

////////////////////////////////////////////////////////////////////////////////
// NAVBAR

$header-color-bg: white !default;
$topbar-color-bg: $gray-lightest !default;
$navbar-menu-mobile-width: 20em !default;

// Topbar height
// Warning: also change hard-coded height marked in comments with "[MANUAL]"!
$topbar-height-mobile: 6rem !default;
$topbar-height-desktop: $topbar-height-mobile !default;

// Navbar height
// Warning: also change hard-coded height marked in comments with "[MANUAL]"!
$navbar-height-mobile: 6rem !default;
$navbar-height-desktop: $navbar-height-mobile * 1.5 !default;

// Navbar buttons
$navbar-btn-size: 4.4rem !default;
$hamburger-height: $navbar-btn-size - 2 * 1rem !default;

$navbar-btn-color: $gray !default;
$navbar-btn-color-hover: $gray-darker !default;
$navbar-btn-bg: transparent !default;
$navbar-btn-bg-hover: rgba(0,0,0,0.0625) !default;

// Logo
$navbar-logo-height: $navbar-btn-size !default;
$navbar-logo-padding-desktop: $gutter / 2 !default;
$navbar-logo-height-desktop: $topbar-height-desktop + $navbar-height-desktop - ($navbar-logo-padding-desktop * 2) !default;

$footer-logo-width-max: 24rem;

// Dropdown menus
$caret-size: $gutter / 3;
$caret-color: $navbar-btn-color;
$width-nested-dropdown-indentation: $gutter / 2;

// WordPress admin bar
// Warning: also change hard-coded height marked in comments with "[MANUAL]"!
$wp-adminbar-height-mobile: 46px !default;
// Warning: also change hard-coded height marked in comments with "[MANUAL]"!
$wp-adminbar-height-desktop: 32px !default;
$wp-adminbar-bp: 782px;

// Chrome on Android URL bar
// Warning: also change hard-coded height marked in comments with "[MANUAL]"!
$android-chrome-topbar-height: 56px;

////////////////////////////////////////////////////////////////////////////////
// MISC

// Border radiuses
$border-radius-base: 0 !default;
$border-radius-large: 1.4142 * $border-radius-base !default;
$border-radius-small: 2 * $border-radius-base !default;

// Buttons
$btn-font-weight: $font-weight-semibold !default;
$btn-text-transform: uppercase !default;

$scroll-btn-size: $gutter * 2 !default;

// Forms
$input-height-base: 4.4rem !default;
$input-bg: $body-color-base !default;
$input-color: $text-color-base !default;
$input-border-color: $gray-light !default;
$input-color-placeholder: $gray !default;

$size-checkradio: $font-size-base * 1.5 !default;

// Avatars
$size-avatar-small: 3.2rem;
$size-avatar-base: 6.4rem;
$size-avatar-big: 9.6rem;
